<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfy.carpark.mapper.IndexAdminMapper">
    <resultMap id="BaseResultMap" type="com.xfy.carpark.DO.AdminDO">
        <!--@mbg.generated-->
        <!--@Table `admin`-->
        <id column="adm_id" jdbcType="INTEGER" property="admId" />
        <result column="adm_name" jdbcType="VARCHAR" property="admName" />
        <result column="adm_pwd" jdbcType="VARCHAR" property="admPwd" />
        <result column="adm_phone" jdbcType="VARCHAR" property="admPhone" />
        <result column="adm_email" jdbcType="VARCHAR" property="admEmail" />
        <result column="adm_gender" jdbcType="INTEGER" property="admGender" />
        <result column="adm_age" jdbcType="INTEGER" property="admAge" />
        <result column="adm_delete_mark" jdbcType="CHAR" property="admDMark" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        adm_id, adm_name, adm_pwd, adm_phone, adm_email,adm_gender, adm_age, adm_delete_mark
    </sql>

    <select id="queryAdmin" resultMap="BaseResultMap">
        select * from admin
    </select>

    <select id="queryAdminByName" resultMap="BaseResultMap">
        select * from admin
        where adm_name = #{admName,jdbcType=VARCHAR}
    </select>

    <insert id="insertAdmin" parameterType="com.xfy.carpark.DO.AdminDO">
        insert into admin(adm_name, adm_pwd)
        values (#{admName,jdbcType=VARCHAR},
                #{admPwd,jdbcType=VARCHAR})
    </insert>

    <select id="queryAdminByPassword" resultMap="BaseResultMap">
        select * from admin
        where adm_name = #{admName,jdbcType=VARCHAR} and adm_pwd = #{admPwd,jdbcType=VARCHAR}
    </select>



    <select id="queryAdminByName4Info" resultMap="BaseResultMap">
        select * from admin
        where adm_name = #{admName,jdbcType=VARCHAR}
    </select>

    <update id="updateAdmInfo" parameterType="com.xfy.carpark.DO.AdminDO">
        update admin
        set adm_phone = #{admPhone,jdbcType=VARCHAR},
        adm_email = #{admEmail,jdbcType=VARCHAR},
        adm_gender = #{admGender,jdbcType=INTEGER},
        adm_age = #{admAge,jdbcType=INTEGER}
        where adm_name = #{admName,jdbcType=VARCHAR}
    </update>

    <update id="updateAdmPwd">
        update admin
        set adm_pwd = #{admPwd,jdbcType=VARCHAR}
        where adm_name = #{admName,jdbcType=VARCHAR}
    </update>
</mapper>