<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfy.carpark.mapper.ParkInfoMapper">
    <resultMap id="BaseResultMap" type="com.xfy.carpark.DO.ParkInformationDO">
        <!--@mbg.generated-->
        <!--@Table `park_information`-->
        <id column="park_id" jdbcType="INTEGER" property="parkId" />
        <result column="park_type" jdbcType="VARCHAR" property="parkType" />
        <result column="park_status" jdbcType="CHAR" property="parkStatus" />
        <result column="park_delete_mark" jdbcType="CHAR" property="parkDMark" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        park_id, park_type, park_status, park_delete_mark
    </sql>

    <select id="queryPark" resultMap="BaseResultMap">
        select * from park_information
        where park_delete_mark = '0'
        order by park_id
    </select>

    <select id="queryParkByType" parameterType="string" resultMap="BaseResultMap">
        select * from park_information
        where park_type = #{parkType,jdbcType=VARCHAR}
        and park_delete_mark = '0'
        order by park_id
    </select>

    <insert id="insertParkInfo" parameterType="com.xfy.carpark.DO.ParkInformationDO">
        insert into park_information(park_type)
        values (#{parkType,jdbcType=VARCHAR})
    </insert>

<!--    <select id="queryParkById" resultMap="BaseResultMap">-->
<!--        select * from park_information-->
<!--        where park_id = #{parkId,jdbcType=INTEGER}-->
<!--        and park_delete_mark = '0'-->
<!--    </select>-->

    <update id="updateParkInfo" parameterType="com.xfy.carpark.DO.ParkInformationDO">
        update park_information
        set park_type = #{parkType,jdbcType=VARCHAR},
            park_status = #{parkStatus,jdbcType=VARCHAR}
        where park_id = #{parkId,jdbcType=INTEGER}
    </update>

    <delete id="deleteParkInfo" parameterType="com.xfy.carpark.DO.ParkInformationDO">
        update park_information
        set park_delete_mark = '1'
        where park_id = #{parkId,jdbcType=INTEGER}
    </delete>

    <select id="queryFixParkById" resultType="java.lang.String">
        select park_status from park_information
        where park_id = #{parkId,jdbcType=INTEGER}
        and park_type = 'fix'
        and park_delete_mark = '0'
    </select>

    <select id="queryParkTypeById" resultType="java.lang.String">
        select park_type from park_information
        where park_id = #{parkId,jdbcType=INTEGER}
        and park_delete_mark = '0'
    </select>
</mapper>